$color-bright-gray: #37384C;
$color-cadet-blue: #B2B8C3;
$color-contessa: #C97164;
$color-quicksand: #BC978C;
$color-quarter-spanish-white: #F9F1E7;
$font-george-x: "Goudy Old Style",
Garamond,
"Big Caslon",
"Times New Roman",
serif;
$font-suisse-bp: Perpetua,
Baskerville,
"Big Caslon",
"Palatino Linotype",
Palatino,
"URW Palladio L",
"Nimbus Roman No9 L",
serif;
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$z-indexes: ( 'preloader', 'navigation', 'content', 'canvas');
